body {
    background-color: #f5f5f5;
    font-family: Arial;
}

h1, h2, p {
    text-align: center;
}

.login-box {
    width: 400px;
    margin: 150px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}

input {
    width: 80%;
    margin-top: 10px;
    padding: 8px;
    display: block;
    margin: 20px auto;
}

button {
    width: 40%;
    padding: 8px;
    display: block;
    margin: 15px auto;
}