<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- 数据库连接字符串配置 -->
    <add name="MovieRatingConnection" 
         connectionString="Data Source=(local);Initial Catalog=Movies;User ID=supreruser;Password=123456;Integrated Security=False;MultipleActiveResultSets=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
</configuration>